*{
    box-sizing: border-box;
}
body, h1, h2, h3, p {
    margin: 0;
}


a{
    text-decoration: none;
}


img{
    display: block;
    max-width: 100%;
}



.auth-page{
    margin: 0;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    

    @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
    
    .container{
        // margin-inline: auto;
        display: flex;
        align-items: center;
        width: Min(100%, 90.5rem);
        height: 100%;
        padding: 3rem 2rem  ;
        justify-content: center;
        > *{
            flex-basis: 100%;
        }
        .split{
            
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > * {
                flex-basis: 100%;
            }
            .illustration{
                .svg1{
                    display: block;
                }
                .svg{
                    display: none;
                }
                
            }
            .sign-in-container{
                display: flex;
                align-items: center;
                flex-direction: column;
                
               
                .signin-form{
                    padding: 2rem 0rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .reset-container{
                display: flex;
                align-items: center;
                flex-direction: column;
                .reset-form{
                    padding: 2rem 0rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .sign-up-container{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                .signup-form{
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .form-split{
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        width: 100%;
                        .split-1{
                            padding: 0px;
                            .radio-group{
                                position: relative;
                                .radio-input{
                                    
                                    padding: 10px 10px 10px 5px;
                                    // margin: 25px 0px;
                                    color: grey;
                                    
                                    
                                    .radio{
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        color: grey;
                                    
                                    }
                                }
                            }
                            
                        }
                        // .split-2{
                        //     padding: 0px;
                        //     .radio-input{
                        //         margin: 20px 0px;
                        //         color: grey;
                        //         padding: 10px 10px 10px 5px;
                        //         .radio{
                        //             display: flex;
                        //             flex-direction: row;
                        //             justify-content: space-around;
                        //             color: grey;
                                
                        //         }
                        //     }
                        // }
                        
                    }
                    .centered{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                }
            }
            @media (min-width: 40em) {
                flex-direction: row;
                width: auto;
                .sign-up-container{
                    justify-content: center;
                    .signup-form{
                       
                        width: 100%;
                        justify-content: center;
                        .form-split{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            flex-direction: row;
                            width: 100%;
                            .split-1{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: space-evenly;
                                // > * {
                                //     flex-basis: auto;
                                // }

                                .radio-group{
                                    position: relative;
                                    .radio-input{
                                        top: 0;
                                        height: auto;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        padding: 0px;
                                        margin: 25px 0px;
                                        color: grey;
                                        width: 100%;
                                        align-items: center;
                                        
                                        .radio{
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            
                                        }
                                    }
                                }

                            }
                            
                            
                            
                        }
                        .centered{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
                .illustration{
                    .svg1{
                        display: none;
                    }
                    .svg{
                        display: block;
                    }
                    

                }
            }
            
        }
        
    }
}

