.event-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.location-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.btn-location {
  background-color: #A32A29;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.btn-location-any {
  background-color: #f1f1f1;
  color: #A32A29;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.event-card {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 5px;
  text-align: left;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-image {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.event-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.event-organizer {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
  margin-right: 12px;
}

.event-invitees {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
  float: right;
}

.event-description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.event-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  background-color: #A32A29;
  color: white;
  border-radius: 19px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.btn:hover {
  background-color: #333;
  color: #f1f1f1;
}

.btn.btn-learn-more {
  background-color: #f1f1f1;
  border: 1px solid #A32A29;
  color: #000;
  margin-right: 100px;
}

.btn.btn-location-any {
  background-color: #f1f1f1;
  color: #A32A29;
}
.btn-location:hover{
  background-color: #f1f1f1;
  color: #000;
}
.btn.btn-location-any:hover {
  background-color: #A32A29;
  color: white;
}

.event-charges{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f8f8f8;
  color: #333;
  border-radius: 8px;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: bold;
  /* transform: translateY(-50%); */
}